.categories img{
    width: 100px;
}
.panda-bg-info{
    background-color: #fceae8;
}
.buynow-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.carousel-btn{
    width:5%;
}
.my-text-color{
    color: #FF136F;
    cursor: pointer;
}